<?xml version="1.0"?>
<config>
    <modules>
        <BIS2BIS_CustomerRules>
            <version>1.0.1</version>
        </BIS2BIS_CustomerRules>
    </modules>

    <frontend>
        <routers>
            <customerRules>
                <use>standard</use>
                <args>
                    <module>BIS2BIS_CustomerRules</module>
                    <frontName>customerRules</frontName>
                </args>
            </customerRules>
        </routers>
    </frontend>
</config>